/packages/*
/*.suo

/Graph3D/bin/
/Graph3D/obj/

/Graph3D.Framework/bin/
/Graph3D.Framework/obj/
/Graph3D.Framework/*.user

/Graph3D.Framework.Engines.RayEngines/bin/
/Graph3D.Framework.Engines.RayEngines/obj/
/Graph3D.Framework.Engines.RayEngines/*.user

/Graph3D.Vrml/bin/
/Graph3D.Vrml/obj/
/Graph3D.Vrml/*.user

/Graph3D.Tests/bin/
/Graph3D.Tests/obj/
/Graph3D.Tests/Graph3D.Tests.csproj.user

/Graph3D.Vrml.Test/bin/
/Graph3D.Vrml.Test/obj/

/Graph3D.Win/bin/
/Graph3D.Win/obj/

/.vs